<head>
	<link rel="stylesheet" href="/css/header.css" />
</head>
<header>
	<h1>Adventurer's Shop Inventory Manager</h1>
	<nav>
		<a href="/" class="<%= currentPath === "/" ? "active" : "" %>">Home</a>
		<a href="/new" class="<%= currentPath === "/new" ? "active" : "" %>">New Item</a>
		<a href="/categories" class="<%= currentPath === "/categories" ? "active" : "" %>">Categories</a>
	</nav>
</header>
