<head>
	<link rel="stylesheet" href="/css/header.css" />
</head>
<header>
	<h1>Adventurer's Shop Inventory Manager</h1>
	<nav>
		<a href="/">Home</a>
		<a href="/new">New Item</a>
		<a href="/categories">Categories</a>
	</nav>
</header>
