main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

main h1 {
	border-bottom: 2px solid darkslateblue;
	margin-bottom: 12px;
	padding: 0 20px;
}

form {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	width: 100%;
	display: flex;
	gap: 8px;
}

input {
	margin-bottom: 8px;
	flex: 1;
}

#addBtn {
	align-self: center;
	margin-bottom: 40px;
}
