body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 40px;
	background-color: darkslateblue;
	color: white;
}

nav {
	display: flex;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 6px 12px;
}

nav a.active {
	pointer-events: none;
	font-weight: bold;
	opacity: 0.6;
	border-bottom: 1px solid silver;
}
