body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 40px;
	background-color: darkslateblue;
	color: white;
}

nav {
	display: flex;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: white;
}
