main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

main h1 {
	border-bottom: 2px solid darkslateblue;
	margin-bottom: 12px;
	padding: 0 20px;
}

main a {
	text-decoration: none;
	color: darkslateblue;
	padding: 6px;
}

td button {
	margin-left: 12px;
}
